body {
    width: 1150px;
	margin: 20px auto; /* center */ 
	background-color: #ffffcc;
	}

table#t01 td{
	width: 96px;
}

h7{
	display: block;
    font-size: 20;
    margin-top: 5px;
    margin-bottom: 5px;
	margin-left: 150px;
	margin-right: 150px;
	color: #ffffff;
	padding: 10px;
	background: #222222;
	border-radius: 20px;
	border: 0px solid #ffffff;
	
	}
	
	h7:hover{
	display: block;
    font-size: 20;
    margin-top: 5px;
    margin-bottom: 5px;
	margin-left: 150px;
	margin-right: 150px;
	color: #ffffff;
	padding: 10px;
	background: #444444;
	border-radius: 20px;
	border: 0px solid #ffffff;
	}

h8{
	display: block;
    font-size: 30;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 100px;
    margin-left: 100px;
	color: #fffccc;
	padding: 100px;
	background: #6622cc;
	border-radius: 200px;
	border: 10px solid #ffffff;
	
	}
	
	h8:hover{
	display: block;
    font-size: 20;
    margin-top: 5px;
    margin-bottom: 5px;
	margin-left: 150px;
	margin-right: 150px;
	color: #ffffff;
	padding: 10px;
	background: #444444;
	border-radius: 20px;
	border: 0px solid #ffffff;
	}
